/* 共通部分
ーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* コードの文字化け */
@charset "UTF-8";
/* 文字サイズを正しく反映 */
html{
    font-size: 100%;
}
body{
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* レイアウト */
.wrapper{
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center{
    text-align: center;
}
/* ヘッダー */
.page-header{
    padding-top: .5rem;
}
.main-nav{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: #0bd;
}
/* 見出し */
.font-english{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.page-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
.heading-large{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
/* ボタン */
.btn{
    display: inline-block;
    font-size: 1.5rem;
    background-color: pink;
    color: #ffffff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
.btn:hover{
    background-color: #0090aa;
    scale: 1.2;
}
.cover{
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}
.cover-home{
    background-color: aqua;
}
.about{
    max-width:736px;
    padding:0 1.5rem;
    margin: 3rem auto 0;
}
.about p{
    margin-bottom: 3rem;
}
/* フッター ーーーーーーーーーーーーーーーーーーーーーーーーーーー
*/
.page-footer{
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
}
.info{
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td{
    border-bottom: 1px solid #432;
}
.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td{
    padding: 1rem 0;
}
.copyright{
    background-color: #432;
    text-align: center;
    padding: 2rem;
    margin-top: 6rem;
    color: #ffffff;
}
/* デスクトップ 版----------------------
*/
@media(min-width:800px){
    /* ヘッダー */
    .page-header{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav{
        font-size: 2rem;
    }
    /* 見出し */
    .page-title{
        font-size: 5rem;
    }
    .heading-large{
        font-size: 4rem;
    }
    /* フッター */
    
}